@using AdaKutuphaneApp.Models.Entity
@model List<tblHareketler>
@{
    ViewBag.Title = "Üye Kitap Geçmişi";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>@ViewBag.uye</b> adlı üyenin kitap geçmişi</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="25%">Kitap Adı</th>
                                    <th width="25%">Personel</th>
                                    <th width="25%">Alış Tarihi</th>
                                    <th width="25%">İade Tarihi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kitap in Model)
                                {
                                    <tr>
                                        <td>@kitap.tblKitaplar.AD</td>
                                        <td>@kitap.tblPersoneller.AD</td>
                                        <td>@Convert.ToDateTime(kitap.ALISTARIH).ToString("dd/MM/yyyy")</td>
                                        <td>@Convert.ToDateTime(kitap.IADETARIH).ToString("dd/MM/yyyy")</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th width="25%">Kitap Adı</th>
                                    <th width="25%">Personel</th>
                                    <th width="25%">Alış Tarihi</th>
                                    <th width="25%">İade Tarihi</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
